<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /handful
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /handful/index.html [L]
</IfModule> 